@model ImmovableProperty

<div>
    <div class="thumbnail">
        <div class="row">
            <div class="col-md-6">
                <img alt="@Model.District" src="@Model.Image" height="500" width="500" />
            </div>
            <div class="col-md-3">
                <h3>@Model.District - @Model.Place</h3>
                <h4>@Model.Price</h4>
                <h4>@Model.Street</h4>
                <h4>@Model.Area</h4>
                <p>@Model.Description</p>
            </div>
            <div class="col-md-3" style="padding-right:50px">
                <h3 class="pull-right">
                    <a asp-action="Edit" asp-route-id="@Model.SerialNumber" class="btn btn-default">Edycja</a>
                    <a asp-action="Index" class="btn btn-default">Powrót</a>
                </h3>
            </div>
        </div>
    </div>
</div>